extends layout
block content
    #products-page.clearfix
        .sub-menu
            ul.nav.nav-pills.nav-stacked
                li
                    a(href='/history') History
        p.cont Contacts
            p.us You can contact with us as

        .ot
            p   Number : +37460378837
            p   Fax : +37460378837
            p   Email : zfmachinetool@gmail.com
    mixin bx(box, rand_color)
        var img = box.image;
