doctype html
html(lang="#{currentLocale().locale}")
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="#{asset_path('favicon.ico')}")
        link(href="http://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" type="text/css")
        != css("desktop.css")
        != js("desktop.js")
    body.s404
        h2.s404en Sorry, this page was not found
        a(href="/") Back to Home page
