#content2.clearfix
    a#top(href='#menu')
        | TOP
        span
    #col1
        h3 Contact Us
        .adress
            strong ZF MACHINETOOL
        p  
        .tel
            | tel. +374060378837
            span.hidden _

        .tel
            | fax +374060378837
            span.hidden _

        .email
            a(href='mailto:info@fermatmachinery.com') zfmachinetool@gmail.com
        p
            a.btnLike(href='/contacts')
                span more info
    #col2
        h3 You might be interested in
        ul

            li
                a(href='/product/21') Floor type - WRF CNC
            li
                a(href='/product/11') Table type - WRFT
            li
                a(href='/product/9') Table type - WFT R
            li
                a(href='/product/20') Table type - WFT


            li
                a(href='/product/26') Floor type - WRF Mill
            li
                a(href='/product/23') Horizontal boring Machine
            li
                a(href='/product/23') Milling Heads

        

