#content2.clearfix
    a#top(href='#menu')
        | top
        span
    #col1
        h3 Contact Us
        .adress
            strong ZF MACHINETOOL
        p  
        .tel
            | +420277
            span.hidden _
            | 009601
        .tel
            | +420277
            span.hidden _
            | 009603
        .email
            a(href='mailto:info@fermatmachinery.com') export@fermatmachinery.com
        p
            a.btnLike(href='/contacts')
                span more info
    #col2
        h3 You might be interested in
        ul
            li
                a(href='/special-machines') Special machines
            li
                a(href='/wrf-130-150-160-cnc') Floor type - WRF CNC
            li
                a(href='/wrft-130-150-160-cnc') Table type - WRFT
            li
                a(href='/wft-13-r-cnc') Table type - WFT R
            li
                a(href='/wft-13-cnc') Table type - WFT
            li
                a(href='/accessories') Accessories
            li
                a(href='/parts-and-services') Services
            li
                a(href='/wrf-mill-m') Floor type - WRF Mill
            li
                a(href='/wf-13-cnc') Horizontal boring Machine
            li
                a(href='/milling-heads-h') Milling Heads
            li
                a(href='/atc-automatic-tool-changer') Automatic Tool Changer
        

