#footer
    ul
        li.m0
            a(href='/about-company')
                span About company
        li.m1
            a(href='/products', active='')
                span Products
        li.m2
            a(href='/references-and-photos-of-fermat-horizontal-boring-mills')
                span References and Photos
        
        li.m6
            a(href='/used-machines/')
                span Used machines
        li.m7
            a(href='/contacts')
                span Contacts
    .copy
        | Copyright © 2014 ZFMACHINE Company
        br
        a(href='http://webaranea.com') Programming by Web Aranea
        
