#footer
    ul
        li.m0
            a(href='/history')
                span About company
        li.m1
            a(href='/products', active='')
                span Products
        li.m2
            a(href='/references-and-photos-of-fermat-horizontal-boring-mills')
                span References and Photos
        
        li.m6
            a(href='/useds/')
                span Used machines
        li.m7
            a(href='/contacts')
                span Contacts
    .copy
        | Copyright © 2014 ZFMachine Company Company
        br
        a(href='http://webaranea.com') Development by Web Aranea
        
