#footer
    ul
        li.m0
            a(href='/about-company')
                span About company
        li.m1
            a(href='/products', active='')
                span Products
        li.m2
            a(href='/references-and-photos-of-fermat-horizontal-boring-mills')
                span References and Photos
        li.m3
            a(href='/news-and-events')
                span Events
        li.m4
            a(href='/news-and-events-h')
                span News
        li.m5
            a(href='/press')
                span Press
        li.m6
            a(href='/used-machines/')
                span Used machines
        li.m7
            a(href='/contacts')
                span Contacts
    .copy
        | Copyright © 2014 FERMAT Group, a.s.
        br
        a(href='http://webovy-servis.cz') Web Aranea
        | , pohání
        a(href='http://www.vas-hosting.cz', title='kvalitní a levný webhosting') server - Váš-Hosting.cz
        | |
        a(href='/odkazy') Partneři
