extends layout


block content
    #products-page.clearfix
        .sub-menu
            ul.nav.nav-pills.nav-stacked
                li
                    a(href='/history') History
                //li
                //    a(href='/production-equipment') Production Equipment
                //li
                //    a(href='/facilities') Facilities
                //li
                //    a(href='/customer-service') Customer Service
        .subBlock.router-images

                table.table-styled.history
                    p
                        h1 FERMAT Company
                        strong #{_l('FERMAT Machinery is a renowned Czech manufacturer of machine tools with a focus on Horizontal Boring and Milling machines. The history of the oldest Fermat member dates back to 1902  when Mr. Frantisek Wawerka started his first business and built a new factory specialized in the production of Lathes & Drilling machines. Over a one hundred year long tradition in machine tool production places the company among dominant Machine Tool Manufacturers in the European as well as the Worldwide market.Today FERMAT has about 530 employees working in 8 FERMAT branches. The consolitated Annual Sales reached 57 million € in 2011.','Společnost FERMAT je profesionálním výrobcem horizontálních vyvrtávaček v České republice. FERMAT vyrábí nové vodorovné vyvrtávačky, realizuje jejich dodávky a montáž v oblasti těžkého strojírenství a precizní výroby komponentů v různých odvětvích průmyslu po celém světě. Společnost FERMAT své výrobky průběžně modifikuje ve vazbě na požadavky zákazníků a rozšiřuje sortiment vyráběných typů a provedení strojů a jejich příslušenství. Se svými produkty FERMAT intenzivně expanduje na nové trhy a to i prostřednictvím aktivní účasti na renomovaných mezinárodních veletrzích po celém světě.','FERMAT es un fabricante de mandrinadora horizontal altamente profesional, el cual cuenta con la tradición de producción de metalurgia y equipo de procesamiento en la República Checa. FERMAT trabaja con el diseño, manufactura, suministro, e instalación de mandrinadoras horizontales dentro de la industria pesada y la industria de fabricación de componentes de precisión en todo el mundo. La compañía se encuentra en constante crecimiento y expansión dentro de nuevos mercados a través de la participación activa en reconocidas exhibiciones comerciales a nivel internacional.','FERMAT является высоко профессиональным производителем горизонтально-расточных станков с традицией в  производстве  металлообрабатывающего  оборудования в  Чешской республике.  В компании фермат работают специалисты высокого класса (конструктора,  технологи,   высококвалифицированные   рабочие  с опытом), что позволяет компании производить станки собственной конструкции и постоянно совершенствовать конструкцию своих станков. Благодаря высококачественому производству, современому дизайну и активной участи на именитых выставках по всему миру компания постоянно поднимается и разширяет на новые рынки всего мира. Профессионализм, Опыт, Надёжность - зто залог успеха горизонтально-расточных станков FERMAT !')}
                        strong
                    tbody
                        tr

                                p

                                    img.imaga(src='/assets/fermat-company-history.jpg', alt='')
                                p
                                    img.imaga(src='/assets/fermat-company-history-%20boring.jpg', alt='')

                                p
                                    img.imaga(alt='', src='/assets/fermat-praha-hala.jpg')
                                p
                                    img.imaga(alt='', src='/assets/fermat-brno.jpg')
    mixin bx(box, rand_color)
        var img = box.image;
