extends layout

block content
    h1 ZFMACHINETOOL Company
    p.main #{_l('ZFMACHINETOOL Company(official distributor Fermat) is a highly professional Horizontal Boring Mill Manufacturer with the tradition of producing metal working and processing equipment in the Czech Republic. FERMAT has been into the design, manufacture, supply, and installation of Horizontal Boring Mills in Heavy Engineering and Precision Component Manufacturing Industries all over the world. The company is still growing and expanding into new markets through an active participation at renowned International Trade Fairs all over the world.', 'Společnost FERMAT je profesionálním výrobcem horizontálních vyvrtávaček v České republice. FERMAT vyrábí nové vodorovné vyvrtávačky, realizuje jejich dodávky a montáž v oblasti těžkého strojírenství a precizní výroby komponentů v různých odvětvích průmyslu po celém světě. Společnost FERMAT své výrobky průběžně modifikuje ve vazbě na požadavky zákazníků a rozšiřuje sortiment vyráběných typů a provedení strojů a jejich příslušenství. Se svými produkty FERMAT intenzivně expanduje na nové trhy a to i prostřednictvím aktivní účasti na renomovaných mezinárodních veletrzích po celém světě.','FERMAT es un fabricante de mandrinadora horizontal altamente profesional, el cual cuenta con la tradición de producción de metalurgia y equipo de procesamiento en la República Checa. FERMAT trabaja con el diseño, manufactura, suministro, e instalación de mandrinadoras horizontales dentro de la industria pesada y la industria de fabricación de componentes de precisión en todo el mundo. La compañía se encuentra en constante crecimiento y expansión dentro de nuevos mercados a través de la participación activa en reconocidas exhibiciones comerciales a nivel internacional.','FERMAT является высоко профессиональным производителем горизонтально-расточных станков с традицией в  производстве  металлообрабатывающего  оборудования в  Чешской республике.  В компании фермат работают специалисты высокого класса (конструктора,  технологи,   высококвалифицированные   рабочие  с опытом), что позволяет компании производить станки собственной конструкции и постоянно совершенствовать конструкцию своих станков. Благодаря высококачественому производству, современому дизайну и активной участи на именитых выставках по всему миру компания постоянно поднимается и разширяет на новые рынки всего мира. Профессионализм, Опыт, Надёжность - зто залог успеха горизонтально-расточных станков FERMAT !')}

    #index-page.clearfix
        #contentIn.clearfix
            h2.mainTitle Range of FERMAT Products
            .productBlock
                h3
                    a(href='/produc/9') HORIZONTAL BORING MILLS FLOOR TYPE WF 13 CNC
                .productText
                    .productTextIn.clearfix
                        .image
                            a(href='/produc/23')
                                img.im(src='assets/22.png', alt='')
                        .productInfo
                            .article-text(style='text-align: justify;')
                                strong
                                | Machine Axes
                                Thanks to our modular design our customers can configure the machine to their requirements.
                            //ul
                            //    li X-axis (column travel) from 2 300 mm to 7 800 mm - possibility to extend 500 mm or 1000 mm
                            //    li Y – Travel: Up to 3,5m
                            //    li CNC rotary table:  Up to 20 t
                            a.btnLike(href='/product/23')
                                span more info
            .productBlock.evenBlock
                h3
                    a(href='/product/21') HORIZONTAL BORING MILLS TABLE TYPE WFC 10
                .productText
                    .productTextIn.clearfix
                        .image
                            a(href='/product/21')
                                img.im(src='/assets/23.png', alt='')
                        .productInfo
                            .article-text(style='text-align: justify;')
                                | Machine Axes - WFC 10 CNC offers four linear (X,Y,Z a W) and one rotary axis (B). A full servo rotary table option allows continuous B-axis rotation (contouring) simultaneously with X, Y, Z, or W axes.
                            //ul
                            //    li X – Travel: Up to 28,1 m
                            //    li Y – Travel: Up to 6m
                            //    li CNC Rotary Table: Up to 50 t
                            p
                                a.btnLike(href='/product/12')
                                    span more info
            .productBlock
                h3
                    a(href='/product/11') HORIZONTAL BORING MILLS TABLE TYPE WRFT 130/150/160 CNC
                .productText
                    .productTextIn.clearfix
                        .image
                            a(href='/wrft-130-150-160-cnc')
                                img.im(alt='', src='/assets/24.png')
                        .productInfo
                            .article-text(style='text-align: justify;')
                                | WRFT 150 offers 6 axes travel (X, Y, Z, V, W and B). Given additional optional accessories, it is possible to increase the number of controlled axes. During metal cutting, the column of the machine adopts Z-axis movement and the workpieces are clamped on a rotary table that travels in X-axis.
                            //ul
                            //    li X - Travel: Up to 5 m
                            //    li Y - Travel: Up to 3,5 m
                            //    li CNC Rotary Table: Up to 20 t
                            p
                                a.btnLike(href='/product/11')
                                    span more info
            .productBlock.evenBlock
                h3
                    a(href='/product/9') HHORIZONTAL BORING MILLS TABLE TYPE WFT 13 R CNC
                .productText
                    .productTextIn.clearfix
                        .image
                            a(href='/wf-13-cnc')
                                img.im(src='/assets/25.png', alt='')
                        .productInfo
                            .article-text(style='text-align: justify;')
                                | CNC systems - Heidenhain iTNC 530/ Fanuc 31i/ Siemens 840D
                                Quality CNC systems provide easy manipulation of the machine and many useful functions for the user.
                            //ul
                            //    li X - Travel: Up to 5,8 m
                            //    li Y - Travel: Up to 3,5 m
                            //    li CNC Rotary Table: Up to 20 t
                            a.btnLike(href='/product/9')
                                span more info
            p
                strong  
            p
                a(href='http://fermatmachines.blogspot.in/')
                    strong
                        br
            p
                span(style='color: rgb(34, 34, 34); font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;')
                    br





