extends layout

block content
    #index-page.clearfix
        #contentIn.clearfix
            h2.mainTitle Range of FERMAT Products
                .productBlock
                    h3
                        a(href='/wft-13-cnc') Horizontal Boring Mill WFT 13 CNC
                    .productText
                        .productTextIn.clearfix
                            .image
                                a(href='/wft-13-cnc')
                                    img(src='/admin/files/page_photos/27/src_WFT_13_with_Ram_(promo)%5B1%5D.png', alt='')
                            .productInfo
                                .article-text(style='text-align: justify;')
                                    strong
                                    | Table Type Horizontal Boring Mill suitable for the machining of the most common workpieces.
                                ul
                                    li X – Travel: Up to 5m
                                    li Y – Travel: Up to 3,5m
                                    li CNC rotary table:  Up to 20 t
                                a.btnLike(href='/wft-13-cnc')
                                    span more info
                .productBlock.evenBlock
                    h3
                        a(href='/wrf-130-150-160-cnc') Horizontal Boring Mill WRF 130/150/160 CNC
                    .productText
                        .productTextIn.clearfix
                            .image
                                a(href='/wrf-130-150-160-cnc')
                                    img(src='/admin/files/page_photos/26/src_Floor-Type-Horizontal-Boring-Mill-WRF.png', alt='')
                            .productInfo
                                .article-text(style='text-align: justify;')
                                    | Floor Type Horizontal Boring Mill series is designed for the larger workpieces machining.
                                ul
                                    li X – Travel: Up to 28,1 m
                                    li Y – Travel: Up to 6m
                                    li CNC Rotary Table: Up to 50 t
                                p
                                    a.btnLike(href='/wrf-130-150-160-cnc')
                                        span more info
                .productBlock
                    h3
                        a(href='/wrft-130-150-160-cnc') Horizontal Boring Mill WRFT 130/150/160 CNC
                    .productText
                        .productTextIn.clearfix
                            .image
                                a(href='/wrft-130-150-160-cnc')
                                    img(alt='', src='/admin/files/page_photos/25/src_Table-Type-Horizontal-Boring-Mill-WRFT-130.png')
                            .productInfo
                                .article-text(style='text-align: justify;')
                                    | Universal Table Type Boring Mill with travelling Ram is designed for efficient processing of  large and heavy workpieces.
                                ul
                                    li X - Travel: Up to 5 m
                                    li Y - Travel: Up to 3,5 m
                                    li CNC Rotary Table: Up to 20 t
                                p
                                    a.btnLike(href='/wrft-130-150-160-cnc')
                                        span more info
                .productBlock.evenBlock
                    h3
                        a(href='/wf-13-cnc') Horizontal Boring Mill WF CNC
                    .productText
                        .productTextIn.clearfix
                            .image
                                a(href='/wf-13-cnc')
                                    img(src='/admin/files/page_photos/28/src_stroj.png', alt='')
                            .productInfo
                                .article-text(style='text-align: justify;')
                                    | Floor Type Horizontal Boring Mill  is equipped with a Standard Boring Mill Live Spindle and suitable for large workpiece machining.
                                ul
                                    li X - Travel: Up to 5,8 m
                                    li Y - Travel: Up to 3,5 m
                                    li CNC Rotary Table: Up to 20 t
                                a.btnLike(href='/wf-13-cnc')
                                    span more info
                p
                    strong  
                p
                    a(href='http://fermatmachines.blogspot.in/')
                        strong
                            br
                p
                    span(style='color: rgb(34, 34, 34); font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;')
                        br





