.sub-menu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/equipments/newTools') New Tools
        li
            a(href='/equipments/usedTools') Used Tools
        li
            a(href='/equipments/newTractors') New Tractors
        li
            a(href='/equipments/usedTractors') Used Tractors
        li
            a(href='/equipments/newMachinery') New Machinery
        li
            a(href='/equipments/usedMachinery') Used Machinery