.sub-menu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/history') About company
        li
            a(href='/products') Products
        li
            a(href='/photos') References and Photos
        li
            a(href='/useds') Used machines
        li
            a(href='/contacts') Contacts

